<section data-ng-controller="QuestionsController" data-ng-init="find()">
    <ul class="questions unstyled">
        <li data-ng-repeat="question in questions">
            <span>{{question.created | date:'medium'}}</span> /
            <span>{{question.user.name}}</span>
            <h2><a data-ng-href="#!/admin/questions/{{question._id}}">Question: {{$index + 1}}</a></h2>
            <div>{{question.content}}</div>
        </li>
    </ul>
    <h1 data-ng-hide="!questions || questions.length">No questions yet. <br> Why don't you <a href="/#!/admin/questions/create">Create One</a>?</h1>
</section>