<section data-ng-controller="QuestionsController" data-ng-init="findOne()">
    <span>{{question.created | date:'medium'}}</span>/
    <span>{{question.user.name}}</span>
    <div data-ng-show="global.user._id === question.user._id">
        <a class="btn" href="/#!/admin/questions/{{question._id}}/edit">
            <i class="icon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="icon-trash"></i>
        </a>
    </div>
    <h3>{{question.title}}</h3>
    <div>{{question.content}}</div>
    <div class="tags">{{question.category}}</div>
</section>
