h1 {
    text-align:center
}

ul.questions li:not(:last-child) {
    border-bottom:1px solid #ccc;
    padding:10px 0;
}

.tags {
    background:#9664f3;
    border-radius:3px;
    margin:5px 0;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    padding:5px;
    display:inline-block;
}

.tags:hover {
    color:#fff;
}